.app-content {
  background-color: #282c24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gif {
  border: 1px solid #eee;
  border-radius: 6px;
  display: flex;
  width: 100%;
  margin: 16px;
  flex-direction: column;
  align-items: center;
}

.gif img {
  object-fit: contain;
}